@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $main-bg-color;
  color: $text-color;
}
a {
  text-decoration: none;
}
button,
a.button {
  padding: 8px 32px;
  background-color: $hover-color;
  border: none;
  color: white;
  border-radius: 3px;
  margin-top: 32px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

button:hover,
a.button:hover, .table-container a:hover {
  opacity: 0.8;
}