@import '../variables';

header {
  padding: 28px;
  background-color: $menu-color;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid $hover-color;
  display: flex;
  div.wrapper {
    // padding: 0 5% 0 5%;
    box-sizing: border-box;
    width: 100%;
    max-width: 1240px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
  a img.logo {
    width: 220px;
  }
  .links {
      font-size: 24px;
      a {
        text-decoration: none;
        color: white;
        position: relative;
        opacity: 0.6;
      }
      a.active {
        font-weight: bold;
        opacity: 1;
      }
      a:hover {
        color: $hover-color;
        transition: 500ms;
        filter: brightness(170%);
        opacity: 1;
      }
      a::after {
        content: "";
        width: 0;
        height: 2px;
        background-color: $hover-color;
        position: absolute;
        left: 0;
        bottom: -4px;
      }
      a:hover::after {
        width: 100%;
        transition: width 400ms ease-in-out;
      }
  }
}

@media (max-width: 700px) {

  header {
    padding: 18px;
    background-color: $menu-color;
    width: 100%;
  
    div.wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr;
      a.logo {
        width: 100%;
        justify-content: center;
      }
      .links {
        text-align: center;
      }
    }
  }
}
